*.egg-info
*.mo
*.pyc
*.swp
*.log
*~
.coverage
.installed.cfg
.mr.developer.cfg
.project
.pydevproject
.settings/
bin/
buildout-cache/
develop-eggs/
htmlcov/
include/
lib/
log.html
local/
output.xml
parts/
report.html
selenium*
src/*
!src/imio
var/
