/* imio.urbdial.notarydivision.core stylesheet */


/* Style NotaryDivision views */
tr.field_row_display > td{
    padding-bottom: 0.5em;
    padding-top: 1em;
    padding-right: 2em;
}
#content {
    font-size: 88%;
}
.divnot-actions{
    align: left;
}


/* Espacement bouton */
.divnot_actions table{
    margin-right:2.5em;
}
.divnot_actions td{
    padding:1em;
}


/* Remove gray background and border of all datagrids , align cell widgets to the top*/
.datagridwidget-table-view .header{
    padding-right: 1em;
    font-size: 0.9em;
}
.datagridwidget-table-view{
    background: none;
    border: 0px;
    width: auto;
}
.datagridwidget-cell{
   vertical-align: top;
}
.datagridwidget-cell-display{
   padding-right: 1em;
}


/* Resize applicants datagrid  */
#formfield-form-widgets-applicants .datagridwidget-table-view{
    width: 35em;
}


/* Style parcel fields */
#formfield-form-widgets-number{
    display: inline-block;
    padding-right: 2em;
}
#form-widgets-number{
    width: 3em;
}
#formfield-form-widgets-locality{
    display: inline-block;
}
#formfield-form-widgets-division{
    display: inline-block;
}
#form-widgets-division{
    width: 4em;
}
#formfield-form-widgets-section{
    display: inline-block;
}
#form-widgets-section{
    width: 4em;
}
#formfield-form-widgets-radical{
    display: inline-block;
}
#form-widgets-radical{
    width: 4em;
}
#formfield-form-widgets-bis{
    display: inline-block;
}
#form-widgets-bis{
    width: 2em;
}
#formfield-form-widgets-exposant{
    display: inline-block;
}
#form-widgets-exposant{
    width: 4em;
}
#formfield-form-widgets-power{
    display: inline-block;
}
#form-widgets-power{
    width: 4em;
}
#formfield-form-widgets-actual_use textarea{
    width: 46em;
    height: 1.5em;
}
#formfield-form-widgets-destination textarea{
    width: 46em;
    height: 1.5em;
}
#formfield-form-widgets-surface{
    display: inline-block;
}
#form-widgets-surface{
    width: 9em;
}
#formfield-form-widgets-surface_accuracy{
    display: inline-block;
}
#formfield-form-widgets-road_distance{
    display: inline-block;
    padding-left: 3em;
}
#form-widgets-road_distance{
    width: 9em;
}
#formfield-form-widgets-road_distance_accuracy{
    display: inline-block;
}

/* hide cancel button on parcel's add form */
.kssattr-formname-InitialParcel #form-buttons-cancel{
    display: none;
}
.kssattr-formname-CreatedParcel #form-buttons-cancel{
    display: none;
}

/* Display input chekboxes by line */
.option{
    display: block;
}
.selected-option{
    display: inline;
    clear: both;
    float: left;
}

/* Lowercase slection values */
#form-widgets-article_90 .label{
    font-weight: normal;
}

/* Align document generationa actions to the right*/
.documents_action{
    display: inline;
    clear: both;
    float: right;
}

/*Track progress*/
#content ul.formTabs, #content-core ul.formTabs{
    border-style:none;
    border-radius:none;
    background-color:transparent;
    padding:0;
}
#content li.formTab  {
    margin:0;
    text-align:left;
}
#content .formTabs li a{
    width: 200px;
}
#content .formTabs li > a span  {
    display:block;
    color:#999;
    font-weight:bold;
}
#content li.formTab a.selected, #content li.formTab a:hover, #content-core li.formTab a.selected, #content-core li.formTab a:hover{
    background:none;
    border-radius:0px;
}
 #content li.formTab a, #content-core li.formTab a{
    padding:0;
}
#content .formTabs li.formTab > a span{
    background-color:#184B75;
    color:#e5e5e5;
}
#content .formTabs li.formTab + li > a span:before{
    border-left-color: #c9c9c9;
}
#content .formTabs li > a span:after,#content .formTabs li > a span:before{
    content: "";
    display: block;
    width: 0px;
    height: 0px;
    margin:0 ;
    border: solid transparent;
    border-left-color: #c9c9c9;
    border-width: 13px;
}
#content .formTabs li > a span:after{
    border-left-color: #184B75;
    border-width: 13.8px;
    float: right;
    margin-right: -12.5%;
    margin-top: -0.1%;
}
#content .formTabs li > a span:before{
    float:left;
}
#content .formTabs li:first-child > a span:after,#content .formTabs li:first-child > a span:before{
    display:none;
}
/*Enlever le champ discret visible en modification */
.discreet{
    display:none;
}
/*Track progres selected*/
#content .formTabs li.formTab > a.selected span {
    color: #494949;
    background-color:#c9c9c9;
}
#content .formTabs li.formTab > a:hover span {
    color: #3d3d3d;
    background-color:#c9c9c9;
}
#content .formTabs li.formTab > a:hover span:after{
     border-left-color:#c9c9c9;
}
#content .formTabs li > a.selected span:after{
    border-left-color: #c9c9c9;
}
#content .formTabs li.formTab + li > a.selected span:before{
    border-left-color: #184B75;
}
#content .formTabs li.formTab + li > a:hover span:before{
    border-left-color:#184B75;
}
#content li.firstFormTab a span{
     padding-left:12px;
}
