/* imio.urbdial.notarydivision.core stylesheet */


/* Style NotaryDivision views */
tr.field_row_display > td{
    padding-bottom: 0.5em;
    padding-top: 1em;
    padding-right: 2em;
}
#content {
    font-size: 88%;
}
.divnot-actions{
    align: left;
}


/* Remove gray background and border of all datagrids , align cell widgets to the top*/
.datagridwidget-table-view .header{
    padding-right: 1em;
    font-size: 0.9em;
}
.datagridwidget-table-view{
    background: none;
    border: 0px;
    width: auto;
}
.datagridwidget-cell{
   vertical-align: top;
}
.datagridwidget-cell-display{
   padding-right: 1em;
}


/* Resize applicants datagrid  */
#formfield-form-widgets-applicants .datagridwidget-table-view{
    width: 35em;
}


/* Resize cadastral ref widget columns */
div[id$=_estate] table{
    width: auto;
}
div[id$=_estate] input[name$=locality]{
    width: 8em;
}
div[id$=_estate] input[name$=division]{
    width: 8em;
}
div[id$=_estate] input[name$=surface]{
    width: 5em;
}
div[id$=_estate] textarea[name$=specific_rights]{
    height: 1.4em;
    width: 30em;
}
div[id$=_estate] table th:nth-child(3){font-size: 0.7em;}
div[id$=_estate] table th:nth-child(4){font-size: 0.7em;}
div[id$=_estate] table th:nth-child(5){font-size: 0.7em;}
div[id$=_estate] table th:nth-child(6){font-size: 0.7em;}
div[id$=_estate] table th:nth-child(7){font-size: 0.7em;}
div[id$=_estate] table tr td:nth-child(3){width: 4em;}
div[id$=_estate] table tr td:nth-child(4){width: 4em;}
div[id$=_estate] table tr td:nth-child(5){width: 1.5em;}
div[id$=_estate] table tr td:nth-child(6){width: 4em;}
div[id$=_estate] table tr td:nth-child(7){width: 4em; padding-right: 0.3em;}
div[id$=_estate] textarea[name$=destination]{
    height: 1.4em;
    width: 20em;
}
div[id$=_estate] table.display th{font-size: 0.9em;}

/* Align checkbox to the middle of the datagrid column*/
.datagridwidget-cell span[id$=widgets-built]{
    display: block;
    text-align: center;
}

/* Display input chekboxes by line */
.option{
    display: block;
}
.selected-option{
    display: inline;
    clear: both;
    float: left;
}
.option .label{
    font-weight: normal;
}

/* Align document generationa actions to the right*/
.documents_action{
    display: inline;
    clear: both;
    float: right;
}
