/* imio.urbdial.notarydivision.core stylesheet */


/* Style NotaryDivision views */
tr.field_row_display > td{
    padding-bottom: 0.5em;
    padding-top: 1em;
    padding-right: 2em;
}
tr.field_row_display{
    border-bottom: 1px solid #EFEFEF;
}
#content {
    font-size: 88%;
}


/* Remove gray background and border of all datagrids , align cell widgets to the top*/
.datagridwidget-table-view .header{
    padding-right: 1em;
}
.datagridwidget-table-view{
    background: none;
    border: 0px;
    width: auto;
}
.datagridwidget-cell{
   vertical-align: top;
}


/* Resize applicants datagrid  */
#formfield-form-widgets-applicants .datagridwidget-table-view{
    width: 35em;
}


/* Resize cadastral ref widget columns */
#formfield-form-widgets-initial_estate table{
    width: 0%;
}
#formfield-form-widgets-initial_estate input[name$=locality]{
    width: 12em;
}
#formfield-form-widgets-initial_estate input[name$=division]{
    width: 12em;
}
#formfield-form-widgets-initial_estate textarea[name$=specific_rights]{
    height: 1.4em;
    width: 30em;
}
#formfield-form-widgets-created_estate table{
    width: 0%;
}
#formfield-form-widgets-created_estate input[name$=locality]{
    width: 12em;
}
#formfield-form-widgets-created_estate input[name$=division]{
    width: 12em;
}
#formfield-form-widgets-created_estate textarea[name$=specific_rights]{
    height: 1.4em;
    width: 30em;
}
